
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
/* -------------------navbar style start here --------------------- */
#header-section{
    background: #FFF4E7;
}
nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top:50px
}
ul.menu-wrapper {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: #424242;
}
nav.nav h2 {
    font-size: 40px;
    font-weight: bold;
    color: #131313;
}
@media screen and (max-width:576px) {
    nav.nav{
        flex-direction: column;
        text-align: center;
        margin: 0px 100px;
        gap: 20px;
    }
}
/* -----------------------bennar section style start here---------------------- */
.bennar-section {
    margin: 0px 200px;
    text-align: center;
    padding: 50px 0px;
}
.bennar-section img {
    width: 100%;
    margin-top: 40px;
}
.bennar-section h1 {
    font-size: 64px;
    color: #131313;
    font-weight: bold;
}
.bennar-section p {
    font-size: 16px;
    color: #727272;
    margin: 25px;
}
button.btn {
    padding: 20px 25px;
    background: #FF900E;
    border: none;
    transition: .5s;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
button.btn:hover {
    background: #202121;
}
@media screen and (max-width:576px){
    .bennar-section{
        margin: 0px;
    }
    .bennar-section h1 {
        font-size: 45px;
    }
}
/* ------------------------main content box style here-------------------- */
main#main-content-box {
    margin: 0px 200px;
}
@media screen and (max-width:576px){
    main#main-content-box{
        margin: 0px;
    }
}
/* -------------------------features seciton style start here------------- */
section.features-section {
    gap: 50px;
    display: flex;
    align-items: center;
    margin: 40px 35px;
    justify-content: space-around;
}
.features-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.features-img-wrapper img {
    width: 225px;
}
.features-text-wrapper h2 {
    font-size: 45px;
    font-weight: 300;
    color: #727272;
    margin: 15px 0px;
}
button.features-btn {
    margin-top: 20px;
}
.features-text-wrapper p {
    color: #727272;
    font-size: 16px;
}
span.features {
    color: #FF900E;
    font-weight: bold;
}
span.of-our {
    color: #131313;
    font-weight: bold;
}
@media screen and (max-width:576px) {
    section.features-section{
        flex-direction: column;

    }
} 
/* ----------------------------love-and-enjoy-section style start here------------------ */
section.love-and-enjoy-section {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 100px 0px 30px 0px;
}
.love-and-enjoy-text-wrapper h1 {
    font-size: 45px;
    color: #131313;
    font-weight: bold;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin: 10px 0px;
}
.love-and-enjoy-text-wrapper> p {
    font-size: 16px;
    margin: 24px 0px;
    color: #727272;
}
.love-text-box {
    margin: 23px 0px;
    box-shadow: -2px 5px 19px #dbd9d961;
    padding: 15px;
}
.love-text-box h3 {
    color: #131313;
    font-size: 20px;
    margin-bottom: 10px;
}
.love-text-box p {
    font-size: 16px;
    color: #727272;
}
.love-and-enjoy-img-wrapper img {
    width: 100%;
}
.love-and-enjoy-img-wrapper {
    width: 45%;
}
.love-and-enjoy-text-wrapper {
    width: 44%;
}
.years {
    background: #FF900E;
    border-radius: 10px;
    position: relative;
    margin-top: -40px;
    margin-left: -63px;
    padding: 30px;
    width: 200px;
    text-align: center;
    color: #FFFFFF;
}
.years h1{
    font-size: 35px;
    font-weight: bold;

}
@media screen and (max-width:576px) {
    section.love-and-enjoy-section{
        flex-direction: column-reverse;
        margin: 0px 20px;
    }
    .love-and-enjoy-img-wrapper {
        width: 100%;
    }
    .love-and-enjoy-text-wrapper {
        width: 100%;
    }
    .years{
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }
}
/* ---------------------------------some facts section style start here----------------- */
section.some-facts-section h2 {
    color: #131313;
    font-size: 45px;
    margin: 10px 0px;
    font-weight: bold;
}
section.some-facts-section > p {
    width: 600px;
    line-height: 25px;
    color: #727272;
    font-size: 16px;
}
section.some-facts-section {
    margin: 85px 0px;
}
.some-facts-single-box-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 76px;
    align-items: center;
}
.some-facts-single-box {
    text-align: center;
    border: 1px solid #FF900E;
    padding: 20px;
    width: 175px;
    border-radius: 10px;
}
.some-facts-single-box img {
    width: 30px;
}
.some-facts-single-box h2 {
    font-size: 45px;
    color: #727272;
}
.some-facts-single-box p {
    color: #727272;
    font-size: 16px;
    font-weight: 600;
}
/* ------------------------------sponsore section style start here--------------------- */
section.sponsore-section {
    text-align: center;
}
section.sponsore-section h2 {
    font-size: 45px;
    margin: 10px 0px;
    color: #131313;
}
section.sponsore-section p {
    width: 568px;
    margin: auto;
    margin-bottom: 42px;
    color: #727272;
}
section.sponsore-section {
    padding: 53px 0px;
}
.sponsore-companys-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsore-companys-logo img {
    filter: grayscale(1);
    width: 128px;
}
/* ----------------------------footer style start here-------------------- */
footer.footer {
    margin: 40px 200px 100px 200px;
    text-align: center;
    padding: 30px 0px;
    background: #FFF4E7;
    color: #424242;
    border-radius: 5px;
}