
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
/* -------------------navbar style start here --------------------- */
#header-section{
    background: #FFF4E7;
}
nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top:50px
}

ul.menu-wrapper {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: #424242;
}

nav.nav h2 {
    font-size: 40px;
    font-weight: bold;
    color: #131313;
}
/* -----------------------bennar section style start here---------------------- */
.bennar-section {
    margin: 0px 200px;
    text-align: center;
    padding: 50px 0px;
}

.bennar-section img {
    width: 100%;
    margin-top: 40px;
}

.bennar-section h1 {
    font-size: 64px;
    color: #131313;
    font-weight: bold;
}

.bennar-section p {
    font-size: 16px;
    color: #727272;
    margin: 25px;
}

button.btn {
    padding: 20px 25px;
    background: #FF900E;
    border: none;
    transition: .5s;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

button.btn:hover {
    background: #202121;
}
/* ------------------------main content box style here-------------------- */
main#main-content-box {
    margin: 0px 200px;
}
/* -------------------------features seciton style start here------------- */
section.features-section {
    gap: 50px;
    display: flex;
    align-items: center;
    margin: 40px 35px;
    justify-content: space-around;
}
.features-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.features-img-wrapper img {
    width: 225px;
}
.features-text-wrapper h2 {
    font-size: 45px;
    font-weight: 300;
    color: #727272;
    margin: 15px 0px;
}
button.features-btn {
    margin-top: 20px;
}
.features-text-wrapper p {
    color: #727272;
    font-size: 16px;
}
span.features {
    color: #FF900E;
    font-weight: bold;
}
span.of-our {
    color: #131313;
    font-weight: bold;
}